<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.novedadToCliente.home.title">Novedad To Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-novedad-to-cliente" [routerLink]="['/novedad-to-cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.novedadToCliente.home.createLabel">
            Create a new Novedad To Cliente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="novedadToClientes?.length === 0">
        <span jhiTranslate="hometechclaimApp.novedadToCliente.home.notFound">No novedadToClientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="novedadToClientes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechacreacion"><span jhiTranslate="hometechclaimApp.novedadToCliente.fechacreacion">Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="novedad.id"><span jhiTranslate="hometechclaimApp.novedadToCliente.novedad">Novedad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cliente.id"><span jhiTranslate="hometechclaimApp.novedadToCliente.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let novedadToCliente of novedadToClientes ;trackBy: trackId">
                    <td><a [routerLink]="['/novedad-to-cliente', novedadToCliente.id, 'view']">{{ novedadToCliente.id }}</a></td>
                    <td>{{ novedadToCliente.fechacreacion | date:'medium' }}</td>
                    <td>
                        <div *ngIf="novedadToCliente.novedad">
                            <a [routerLink]="['/novedad', novedadToCliente.novedad?.id, 'view']" >{{ novedadToCliente.novedad?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="novedadToCliente.cliente">
                            <a [routerLink]="['/cliente', novedadToCliente.cliente?.id, 'view']" >{{ novedadToCliente.cliente?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/novedad-to-cliente', novedadToCliente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/novedad-to-cliente', novedadToCliente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(novedadToCliente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="novedadToClientes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
