<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="equiposcotizadosToEquipos">
            <h2><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.detail.title">Equiposcotizados To Equipos</span> {{ equiposcotizadosToEquipos.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.valorUnidad">Valor Unidad</span></dt>
                <dd>
                    <span>{{ equiposcotizadosToEquipos.valorUnidad }}</span>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.valorUtilUnidad">Valor Util Unidad</span></dt>
                <dd>
                    <span>{{ equiposcotizadosToEquipos.valorUtilUnidad }}</span>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.descuentoUnidad">Descuento Unidad</span></dt>
                <dd>
                    <span>{{ equiposcotizadosToEquipos.descuentoUnidad }}</span>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.fechacotizacion">Fechacotizacion</span></dt>
                <dd>
                    <span>{{ equiposcotizadosToEquipos.fechacotizacion }}</span>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.cantidadEquipos">Cantidad Equipos</span></dt>
                <dd>
                    <span>{{ equiposcotizadosToEquipos.cantidadEquipos }}</span>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.cotizacion">Cotizacion</span></dt>
                <dd>
                    <div *ngIf="equiposcotizadosToEquipos.cotizacion">
                        <a [routerLink]="['/cotizacion', equiposcotizadosToEquipos.cotizacion?.id, 'view']">{{ equiposcotizadosToEquipos.cotizacion?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hometechclaimApp.equiposcotizadosToEquipos.equiposcotizadosToEquipos">Equiposcotizados To Equipos</span></dt>
                <dd>
                    <div *ngIf="equiposcotizadosToEquipos.equiposcotizadosToEquipos">
                        <a [routerLink]="['/equipo', equiposcotizadosToEquipos.equiposcotizadosToEquipos?.id, 'view']">{{ equiposcotizadosToEquipos.equiposcotizadosToEquipos?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/equiposcotizados-to-equipos', equiposcotizadosToEquipos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
