<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.notificaciones.home.title">Notificaciones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notificaciones" [routerLink]="['/notificaciones/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.notificaciones.home.createLabel">
            Create a new Notificaciones
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notificaciones?.length === 0">
        <span jhiTranslate="hometechclaimApp.notificaciones.home.notFound">No notificaciones found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notificaciones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="correo"><span jhiTranslate="hometechclaimApp.notificaciones.correo">Correo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area"><span jhiTranslate="hometechclaimApp.notificaciones.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activo"><span jhiTranslate="hometechclaimApp.notificaciones.activo">Activo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idusuario"><span jhiTranslate="hometechclaimApp.notificaciones.idusuario">Idusuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notificaciones of notificaciones ;trackBy: trackId">
                    <td><a [routerLink]="['/notificaciones', notificaciones.id, 'view']">{{ notificaciones.id }}</a></td>
                    <td>{{ notificaciones.correo }}</td>
                    <td jhiTranslate="{{ 'hometechclaimApp.Areas.' + notificaciones.area }}">{{ notificaciones.area }}</td>
                    <td>{{ notificaciones.activo }}</td>
                    <td>{{ notificaciones.idusuario }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notificaciones', notificaciones.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notificaciones', notificaciones.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notificaciones)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="notificaciones?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
