<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.cliente.home.title">Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
        <span jhiTranslate="hometechclaimApp.cliente.home.notFound">No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="hometechclaimApp.cliente.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apellido"><span jhiTranslate="hometechclaimApp.cliente.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="correo"><span jhiTranslate="hometechclaimApp.cliente.correo">Correo</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="codigoDealer"><span jhiTranslate="hometechclaimApp.cliente.codigoDealer">Codigo Dealer</span> <fa-icon icon="sort"></fa-icon></th-->
                    <!--th scope="col"  jhiSortBy="idciudad"><span jhiTranslate="hometechclaimApp.cliente.idciudad">Idciudad</span> <fa-icon icon="sort"></fa-icon></th-->
                    <!--th scope="col"  jhiSortBy="telefonocelular"><span jhiTranslate="hometechclaimApp.cliente.telefonocelular">Telefonocelular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefonofijo"><span jhiTranslate="hometechclaimApp.cliente.telefonofijo">Telefonofijo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefonoempresarial"><span jhiTranslate="hometechclaimApp.cliente.telefonoempresarial">Telefonoempresarial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccionresidencial"><span jhiTranslate="hometechclaimApp.cliente.direccionresidencial">Direccionresidencial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccionempresarial"><span jhiTranslate="hometechclaimApp.cliente.direccionempresarial">Direccionempresarial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechanacimiento"><span jhiTranslate="hometechclaimApp.cliente.fechanacimiento">Fechanacimiento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idusuario"><span jhiTranslate="hometechclaimApp.cliente.idusuario">Idusuario</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="imagen"><span jhiTranslate="hometechclaimApp.cliente.imagen">Imagen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dealer.id"><span jhiTranslate="hometechclaimApp.cliente.dealer">Dealer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                    <td><a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a></td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.correo }}</td>
                    <!--td>{{ cliente.codigoDealer }}</td>
                    <td>{{ cliente.idciudad }}</td>
                    <td>{{ cliente.telefonocelular }}</td>
                    <td>{{ cliente.telefonofijo }}</td>
                    <td>{{ cliente.telefonoempresarial }}</td>
                    <td>{{ cliente.direccionresidencial }}</td>
                    <td>{{ cliente.direccionempresarial }}</td>
                    <td>{{ cliente.fechanacimiento | date:'mediumDate' }}</td>
                    <td>{{ cliente.idusuario }}</td-->
                    <td>
                        <a *ngIf="cliente.imagen" (click)="openFile(cliente.imagenContentType, cliente.imagen)">
                            <img [src]="'data:' + cliente.imagenContentType + ';base64,' + cliente.imagen" style="max-height: 30px;" alt="cliente image"/>
                        </a>
                        <!--span *ngIf="cliente.imagen">{{ cliente.imagenContentType }}, {{ byteSize(cliente.imagen) }}</span-->
                    </td>
                    <td>
                        <div *ngIf="cliente.dealer">
                            <a [routerLink]="['/dealer', cliente.dealer?.id, 'view']" >{{ cliente.dealer?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cliente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clientes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
