<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="hometechclaimApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                    <div *ngIf="editForm.get('apellido')!.invalid && (editForm.get('apellido')!.dirty || editForm.get('apellido')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                    <div *ngIf="editForm.get('correo')!.invalid && (editForm.get('correo')!.dirty || editForm.get('correo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.codigoDealer" for="field_codigoDealer">Codigo Dealer</label>
                    <input type="text" class="form-control" name="codigoDealer" id="field_codigoDealer"
                           formControlName="codigoDealer"/>
                    <div *ngIf="editForm.get('codigoDealer')!.invalid && (editForm.get('codigoDealer')!.dirty || editForm.get('codigoDealer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoDealer')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoDealer')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.idciudad" for="field_idciudad">Idciudad</label>
                    <input type="number" class="form-control" name="idciudad" id="field_idciudad"
                           formControlName="idciudad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.telefonocelular" for="field_telefonocelular">Telefonocelular</label>
                    <input type="text" class="form-control" name="telefonocelular" id="field_telefonocelular"
                           formControlName="telefonocelular"/>
                    <div *ngIf="editForm.get('telefonocelular')!.invalid && (editForm.get('telefonocelular')!.dirty || editForm.get('telefonocelular')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonocelular')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonocelular')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.telefonofijo" for="field_telefonofijo">Telefonofijo</label>
                    <input type="text" class="form-control" name="telefonofijo" id="field_telefonofijo"
                           formControlName="telefonofijo"/>
                    <div *ngIf="editForm.get('telefonofijo')!.invalid && (editForm.get('telefonofijo')!.dirty || editForm.get('telefonofijo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonofijo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonofijo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.telefonoempresarial" for="field_telefonoempresarial">Telefonoempresarial</label>
                    <input type="text" class="form-control" name="telefonoempresarial" id="field_telefonoempresarial"
                           formControlName="telefonoempresarial"/>
                    <div *ngIf="editForm.get('telefonoempresarial')!.invalid && (editForm.get('telefonoempresarial')!.dirty || editForm.get('telefonoempresarial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoempresarial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoempresarial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.direccionresidencial" for="field_direccionresidencial">Direccionresidencial</label>
                    <input type="text" class="form-control" name="direccionresidencial" id="field_direccionresidencial"
                           formControlName="direccionresidencial"/>
                    <div *ngIf="editForm.get('direccionresidencial')!.invalid && (editForm.get('direccionresidencial')!.dirty || editForm.get('direccionresidencial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionresidencial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionresidencial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.direccionempresarial" for="field_direccionempresarial">Direccionempresarial</label>
                    <input type="text" class="form-control" name="direccionempresarial" id="field_direccionempresarial"
                           formControlName="direccionempresarial"/>
                    <div *ngIf="editForm.get('direccionempresarial')!.invalid && (editForm.get('direccionempresarial')!.dirty || editForm.get('direccionempresarial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionempresarial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionempresarial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.fechanacimiento" for="field_fechanacimiento">Fechanacimiento</label>
                    <div class="input-group">
                        <input id="field_fechanacimiento" type="text" class="form-control" name="fechanacimiento" ngbDatepicker #fechanacimientoDp="ngbDatepicker" formControlName="fechanacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechanacimientoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechanacimiento')!.invalid && (editForm.get('fechanacimiento')!.dirty || editForm.get('fechanacimiento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechanacimiento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <!--div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.idusuario" for="field_idusuario">Idusuario</label>
                    <input type="text" class="form-control" name="idusuario" id="field_idusuario"
                           formControlName="idusuario"/>
                </div-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.imagen" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagenContentType')!.value + ';base64,' + editForm.get('imagen')!.value" style="max-height: 100px;" *ngIf="editForm.get('imagen')!.value" alt="cliente image"/>
                        <div *ngIf="editForm.get('imagen')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imagenContentType')!.value }}, {{ byteSize(editForm.get('imagen')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'file_imagen')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                           formControlName="imagen"/>
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                           formControlName="imagenContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cliente.dealer" for="field_dealer">Dealer</label>
                    <select class="form-control" id="field_dealer" name="dealer" formControlName="dealer">
                        <option *ngIf="!editForm.get('dealer')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="dealerOption.id === editForm.get('dealer')!.value?.id ? editForm.get('dealer')!.value : dealerOption" *ngFor="let dealerOption of dealers; trackBy: trackById">{{ dealerOption.nombre }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('dealer')!.invalid && (editForm.get('dealer')!.dirty || editForm.get('dealer')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('dealer')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
