<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.cotizacion.home.title">Cotizacions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cotizacion" [routerLink]="['/cotizacion/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.cotizacion.home.createLabel">
            Create a new Cotizacion
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cotizacions?.length === 0">
        <span jhiTranslate="hometechclaimApp.cotizacion.home.notFound">No cotizacions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cotizacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechacreacion"><span jhiTranslate="hometechclaimApp.cotizacion.fechacreacion">Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="hometechclaimApp.cotizacion.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="valoriva"><span jhiTranslate="hometechclaimApp.cotizacion.valoriva">Valoriva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalsiniva"><span jhiTranslate="hometechclaimApp.cotizacion.totalsiniva">Totalsiniva</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="porcentajedescuento"><span jhiTranslate="hometechclaimApp.cotizacion.porcentajedescuento">Porcentajedescuento</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="fechamantenimiento"><span jhiTranslate="hometechclaimApp.cotizacion.fechamantenimiento">Fechamantenimiento</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="activo"><span jhiTranslate="hometechclaimApp.cotizacion.activo">Activo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="hometechclaimApp.cotizacion.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estadocotizacion"><span jhiTranslate="hometechclaimApp.cotizacion.estadocotizacion">Estadocotizacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cliente.id"><span jhiTranslate="hometechclaimApp.cotizacion.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cotizacion of cotizacions ;trackBy: trackId">
                    <td><a [routerLink]="['/cotizacion', cotizacion.id, 'view']">{{ cotizacion.id }}</a></td>
                    <td>{{ cotizacion.fechacreacion | date:'medium' }}</td>
                    <td>{{ cotizacion.descripcion }}</td>
                    <!--td>{{ cotizacion.valoriva }}</td>
                    <td>{{ cotizacion.totalsiniva }}</td-->
                    <td>{{ cotizacion.porcentajedescuento }}</td>
                    <!--td>{{ cotizacion.fechamantenimiento | date:'medium' }}</td-->
                    <td>{{ cotizacion.activo }}</td>
                    <td>{{ cotizacion.total }}</td>
                    <td jhiTranslate="{{ 'hometechclaimApp.Estadocotizacion.' + cotizacion.estadocotizacion }}">{{ cotizacion.estadocotizacion }}</td>
                    <td>
                        <div *ngIf="cotizacion.cliente">
                            <a [routerLink]="['/cliente', cotizacion.cliente?.id, 'view']" >{{ cotizacion.cliente?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cotizacion', cotizacion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cotizacion', cotizacion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cotizacion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cotizacions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
