<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cotizacion-heading" jhiTranslate="hometechclaimApp.cotizacion.home.createOrEditLabel">Create or edit a Cotizacion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.fechacreacion" for="field_fechacreacion">Fechacreacion</label>
                    <div class="d-flex">
                        <input id="field_fechacreacion" type="datetime-local" class="form-control" name="fechacreacion" formControlName="fechacreacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                    <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.valoriva" for="field_valoriva">Valoriva</label>
                    <input type="number" class="form-control" name="valoriva" id="field_valoriva"
                           formControlName="valoriva"/>
                    <div *ngIf="editForm.get('valoriva')!.invalid && (editForm.get('valoriva')!.dirty || editForm.get('valoriva')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valoriva')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valoriva')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.totalsiniva" for="field_totalsiniva">Totalsiniva</label>
                    <input type="number" class="form-control" name="totalsiniva" id="field_totalsiniva"
                           formControlName="totalsiniva"/>
                    <div *ngIf="editForm.get('totalsiniva')!.invalid && (editForm.get('totalsiniva')!.dirty || editForm.get('totalsiniva')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalsiniva')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalsiniva')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.porcentajedescuento" for="field_porcentajedescuento">Porcentajedescuento</label>
                    <input type="number" class="form-control" name="porcentajedescuento" id="field_porcentajedescuento"
                           formControlName="porcentajedescuento"/>
                    <div *ngIf="editForm.get('porcentajedescuento')!.invalid && (editForm.get('porcentajedescuento')!.dirty || editForm.get('porcentajedescuento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('porcentajedescuento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('porcentajedescuento')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.fechamantenimiento" for="field_fechamantenimiento">Fechamantenimiento</label>
                    <div class="d-flex">
                        <input id="field_fechamantenimiento" type="datetime-local" class="form-control" name="fechamantenimiento" formControlName="fechamantenimiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.activo" for="field_activo">Activo</label>
                    <input type="checkbox" class="form-control" name="activo" id="field_activo"
                           formControlName="activo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                    <div *ngIf="editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('total')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.estadocotizacion" for="field_estadocotizacion">Estadocotizacion</label>
                    <select class="form-control" name="estadocotizacion" formControlName="estadocotizacion" id="field_estadocotizacion">
                        <option value="INICIO">{{ 'hometechclaimApp.Estadocotizacion.INICIO' | translate }}</option>
                        <option value="ENPROCESO">{{ 'hometechclaimApp.Estadocotizacion.ENPROCESO' | translate }}</option>
                        <option value="INSTALADO">{{ 'hometechclaimApp.Estadocotizacion.INSTALADO' | translate }}</option>
                        <option value="TERMINADA">{{ 'hometechclaimApp.Estadocotizacion.TERMINADA' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hometechclaimApp.cotizacion.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option *ngIf="!editForm.get('cliente')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackById">{{ clienteOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('cliente')!.invalid && (editForm.get('cliente')!.dirty || editForm.get('cliente')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cliente')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
