<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.contenido.home.title">Contenidos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contenido" [routerLink]="['/contenido/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.contenido.home.createLabel">
            Create a new Contenido
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contenidos?.length === 0">
        <span jhiTranslate="hometechclaimApp.contenido.home.notFound">No contenidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contenidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="hometechclaimApp.contenido.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="videoUrl"><span jhiTranslate="hometechclaimApp.contenido.videoUrl">Video Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagenURl"><span jhiTranslate="hometechclaimApp.contenido.imagenURl">Imagen U Rl</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="audio"><span jhiTranslate="hometechclaimApp.contenido.audio">Audio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoContenido"><span jhiTranslate="hometechclaimApp.contenido.tipoContenido">Tipo Contenido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activo"><span jhiTranslate="hometechclaimApp.contenido.activo">Activo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechacreacion"><span jhiTranslate="hometechclaimApp.contenido.fechacreacion">Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="novedad.id"><span jhiTranslate="hometechclaimApp.contenido.novedad">Novedad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contenido of contenidos ;trackBy: trackId">
                    <td><a [routerLink]="['/contenido', contenido.id, 'view']">{{ contenido.id }}</a></td>
                    <td>{{ contenido.descripcion }}</td>
                    <td>{{ contenido.videoUrl }}</td>
                    <td>
                        <a *ngIf="contenido.imagenURl" (click)="openFile(contenido.imagenURlContentType, contenido.imagenURl)">
                            <img [src]="'data:' + contenido.imagenURlContentType + ';base64,' + contenido.imagenURl" style="max-height: 30px;" alt="contenido image"/>
                        </a>
                        <span *ngIf="contenido.imagenURl">{{ contenido.imagenURlContentType }}, {{ byteSize(contenido.imagenURl) }}</span>
                    </td>
                    <td>{{ contenido.audio }}</td>
                    <td jhiTranslate="{{ 'hometechclaimApp.TipoContenido.' + contenido.tipoContenido }}">{{ contenido.tipoContenido }}</td>
                    <td>{{ contenido.activo }}</td>
                    <td>{{ contenido.fechacreacion | date:'medium' }}</td>
                    <td>
                        <div *ngIf="contenido.novedad">
                            <a [routerLink]="['/novedad', contenido.novedad?.id, 'view']" >{{ contenido.novedad?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contenido)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contenidos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
