<div>
    <h2 id="page-heading">
        <span jhiTranslate="hometechclaimApp.requerimiento.home.title">Requerimientos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requerimiento" [routerLink]="['/requerimiento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hometechclaimApp.requerimiento.home.createLabel">
            Create a new Requerimiento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="requerimientos?.length === 0">
        <span jhiTranslate="hometechclaimApp.requerimiento.home.notFound">No requerimientos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="requerimientos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detalleproblema"><span jhiTranslate="hometechclaimApp.requerimiento.detalleproblema">Detalleproblema</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechacreacion"><span jhiTranslate="hometechclaimApp.requerimiento.fechacreacion">Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaactualizacion"><span jhiTranslate="hometechclaimApp.requerimiento.fechaactualizacion">Fechaactualizacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observaciones"><span jhiTranslate="hometechclaimApp.requerimiento.observaciones">Observaciones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idusuarioatendio"><span jhiTranslate="hometechclaimApp.requerimiento.idusuarioatendio">Idusuarioatendio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idusuarioactualizo"><span jhiTranslate="hometechclaimApp.requerimiento.idusuarioactualizo">Idusuarioactualizo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idUsuario"><span jhiTranslate="hometechclaimApp.requerimiento.idUsuario">Id Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagen"><span jhiTranslate="hometechclaimApp.requerimiento.imagen">Imagen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estadoRequerimiento"><span jhiTranslate="hometechclaimApp.requerimiento.estadoRequerimiento">Estado Requerimiento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoRequerimiento"><span jhiTranslate="hometechclaimApp.requerimiento.tipoRequerimiento">Tipo Requerimiento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requerimiento of requerimientos ;trackBy: trackId">
                    <td><a [routerLink]="['/requerimiento', requerimiento.id, 'view']">{{ requerimiento.id }}</a></td>
                    <td>{{ requerimiento.detalleproblema }}</td>
                    <td>{{ requerimiento.fechacreacion | date:'medium' }}</td>
                    <td>{{ requerimiento.fechaactualizacion | date:'medium' }}</td>
                    <td>{{ requerimiento.observaciones }}</td>
                    <td>{{ requerimiento.idusuarioatendio }}</td>
                    <td>{{ requerimiento.idusuarioactualizo }}</td>
                    <td>{{ requerimiento.idUsuario }}</td>
                    <td>
                        <a *ngIf="requerimiento.imagen" (click)="openFile(requerimiento.imagenContentType, requerimiento.imagen)">
                            <img [src]="'data:' + requerimiento.imagenContentType + ';base64,' + requerimiento.imagen" style="max-height: 30px;" alt="requerimiento image"/>
                        </a>
                        <span *ngIf="requerimiento.imagen">{{ requerimiento.imagenContentType }}, {{ byteSize(requerimiento.imagen) }}</span>
                    </td>
                    <td jhiTranslate="{{ 'hometechclaimApp.EstadoRequerimiento.' + requerimiento.estadoRequerimiento }}">{{ requerimiento.estadoRequerimiento }}</td>
                    <td jhiTranslate="{{ 'hometechclaimApp.TipoRequerimiento.' + requerimiento.tipoRequerimiento }}">{{ requerimiento.tipoRequerimiento }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/requerimiento', requerimiento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/requerimiento', requerimiento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(requerimiento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="requerimientos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
